/*a.container {
  margin: 0 auto;
  max-width: 960px;
}*/

body {
  /*background-image: url('paper_fibers.png');*/
  background-repeat: repeat;
}

/*.container {
  background-color: #fff;
  padding: 10px;
}*/
